body {
    font-family: "Raleway", sans-serif;
    max-width: 1400px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 50px 40px 50px 50px;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    width: 61px;
    height: 19px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding: 50px;
}

/* Ligne bleue au survol des onglets de navigations */

nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    margin-left: 50px;
}

h5 {
    font-size: 16px;
    font-weight: 400;
    margin-left: 50px;
}

#recherche {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 0;
    margin: 0 0 20px 50px;
    min-width: 370px;
}

#encadreiconemap {
    background-color: #F2F2F2;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 5px;
}

#search {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    padding: 13px 0px 13px 17px;
    border: 1px solid #F2F2F2;
}

#bouton {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    margin-left: 0px;
    background-color: #0065FC;
    color: white;
    padding: 14px 16px 14px 16px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    position: relative;
    left: -4px;
}

#loupe {
    margin-left: 0px;
    background-color: #0065FC;
    padding: 18px 16px 16px 16px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    position: relative;
    left: -10px;
    color: white;
}

#filtres {
    display: flex;
    margin: 0 0 30px 50px;
    align-items: center;
}

h3 {
    margin: 10px 10px 10px 10px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

h4 {
    margin: 10px 10px 10px 10px;
    font-size: 17px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.filtre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    padding: 0px 10px 0px 20px;
    border: 2px solid #D9D9D9;
    border-radius: 50px;
}

.deuxfiltres {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Fond en bleu au survol des filtres*/

.filtre:hover {
    background-color: #DEEBFF;
}

#filtres i {
    color: #0065FC;
}

#info {
    display: flex;
    align-items: center;
    margin: 0 0 0 50px;
}

#info i {
    color: #0065FC;
    padding: 10px 8px 10px 8px;
    border: 1px solid #D9D9D9;
    border-radius: 50px;

}

#info h5 {
    margin-left: 10px;
}

/* display:flex en ligne entre les conteneurs "hébergements" et "les plus populaires" */

#hebergementsetlespluspop {
    display: flex;
    justify-content: space-between;
    margin: 40px 40px 40px 50px;
}

#hebergementsetlespluspop h1 {
    margin: 0 0 20px 0;
}

.troishebergements {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px 0;
}

#hebergements {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 60%;
    min-width: 600px;
    margin-right: 40px;
    padding: 40px 40px 40px 40px;
    border-radius: 20px;
}

#hebergements a {
    text-decoration: none;
    color: #000000;
}

/* Mise en page des images */

#hebergements img {
    height: 124px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    aspect-ratio: 1.6/1;
    border: 5px solid #FFFFFF;
}

.sixhotels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #FFFFFF;
    height: 199px;
    box-shadow: 0 0 10px #D9D9D9;
}

h2 {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 0 0;
}

p {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 0 0;
}

/* Mise en page de la description des 6 hébergements*/

.description6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 12px 15px;
    height: 40%;
}

#lespluspopulaires {
    width: 30%;
    background-color: #F2F2F2;
    padding: 40px 40px 30px 40px;
    border-radius: 20px;
}

#titreeticone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 25px 0;
}

#titreeticone h1 {
    margin: 0 0 0 0;
}

#titreeticone i {
    color: #0065FC;
}

#les3hotels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Mise en page des images */

#les3hotels img {
    height: 134px;
    width: 40%;
    border-radius: 20px 0 0 20px;
    border: 5px solid #FFFFFF;
    object-fit: cover;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 5px;
    height: 80%;
    width: 50%;
}

#lespluspopulaires a {
    text-decoration: none;
    color: #000000;
    margin-bottom: 30px;
}

.troishotels {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #FFFFFF;
    height: 144px;
    box-shadow: 0 0 10px #D9D9D9;
    margin: 0 0 0 0px;
}

.stars {
    display: flex;
    align-items: center;
}

.stars i {
    color: #0065FC;
}

.stars :last-child {
    color:#F2F2F2;
}

#titreActivites {
    margin: 20px 0 20px 50px;
}

#les4activites {
    display: flex;
    justify-content: space-between;
    margin: 40px 40px 40px 50px;
}

.quatreactivites {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 0 10px #D9D9D9;
}

/* Mise en page des images des activités */

#les4activites img {
    height: 389px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    aspect-ratio: 0.65/1;
}

#les4activites h2 {
    margin: 20px 0 20px 20px;
}

#les4activites a {
    text-decoration: none;
    color: #000000;
}

footer {
    display: flex;
    background-color: #F2F2F2;
    margin: 0 40px 0 50px;
    padding: 45px 0 20px 70px;
}

footer h3 {
    margin: 0 0 20px 0;
}

footer h5 {
    margin: 0 0 12px 0;
}

.troisgroupes {
    width: 35%;
}

/* Cache la loupe sur desktop et tablettes qui sera visible sur mobile à la place du texte "rechercher" */

@media all and (min-width: 992px) {
    #loupe {
        display: none;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    #loupe {
        display: none;
    }

    /* Mise en page des encadrés "hébergements" et "les plus populaires" en colonne */

    #hebergementsetlespluspop {
        flex-direction: column;
    }

    /* Configuration de la largeur des conteneurs "hébergements" et "les plus populaires" sur la largeur 
    de la page */

    #hebergements {
        width: auto;
        margin-right: 0;
    }

    #lespluspopulaires {
        margin: 40px 0 40px 0;
        width: auto;
        min-width: 600px;
    }

    #les3hotels {
        flex-direction: row;
    }

    #lespluspopulaires img {
        aspect-ratio: 0.6/1;
    }

    .troishotels {
        width: 210px;
    }

    #les4activites img {
        height: 211px;
        aspect-ratio: 0.8/1;
    }

    #les4activites h2 {
        margin: 20px 0 20px 10px;
        height: 38px;
    }

    .quatreactivites {
        width: 170px;
    }

}

@media all and (max-width: 767px) {
    #bouton {
        display: none;
    }

    /* Changement de la position de la ligne au survol des onglets de navigation */

    nav a:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }

    #logo {
        margin: auto;
    }

    /* Diminution de la marge à gauche pour les mobiles */

    h1,
    h5,
    #recherche,
    #filtres,
    #info,
    #titreActivites,
    #les4activites {
        margin-left: 20px;
    }

    ul {
        padding-left: 0;
    }

    header {
        flex-direction: column;
        margin: 50px 0 50px 0;
    }

    nav {
        margin-top: 20px;
    }

    #filtres {
        flex-direction: column;
        align-items: flex-start;
    }

    #filtres h3 {
        margin: 20px 0 0 0;
    }

    #filtres h4 {
        font-size: 11px;
    }

    .filtre {
        justify-content: left;
        margin: 20px 10px 0 0;
        width: 100%;
    }

    .deuxfiltres {
        justify-content: space-between;
        width: 95%;
    }

    #hebergementsetlespluspop {
        flex-direction: column-reverse;
        margin-left: 0;
        margin-right: 0;
    }

    #hebergements {
        width: 90%;
        min-width: 0;
        margin: 0 0 0 0;
        height: auto;
        padding: 20px 40px 0 20px;
        border-radius: 0px;
        background-color: #FFFFFF;
    }

    #hebergements h3 {
        display: none;
    }

    #lespluspopulaires {
        margin: 0 0 0 0;
        padding: 20px 40px 20px 20px;
        width: 90%;
        border-radius: 0px;
    }

    #titreeticone {
        margin: 20px 10px 20px 0;
    }

    .troishotels {
        margin: 10px 10px 10px 10px;
    }

    .troishebergements {
        flex-direction: column;
        width: 100%;
        margin: 0 0 0 0;
    }

    #troisderniershebergements {
        margin: 0 0 40px 0;
    }

    .sixhotels {
        width: 100%;
        padding: 0 0 10px 0;
        margin: 0 0 10px 0;
    }

    #les4activites {
        flex-direction: column;
        margin-right: 20px;
    }

    #les4activites img {
        height: 134px;
    }

    .quatreactivites {
        margin-bottom: 20px;
    }

    footer {
        flex-direction: column;
        padding: 45px 40px 0 20px;
        margin: 0 0 0 0;
        width: 90%;
    }

    .troisgroupes {
        margin-bottom: 20px;
        width:100%;
    }
}